* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 100%;
}

@media screen and (max-width: 300px) {
    :root {
        font-size: 70%;
    }
}

html, body {
    background-color: hsl(195 5.2% 12%);
    font-family: 'Courier New', Courier, monospace;
    color: #e9e9e9;
}

input, button {
    font-family: 'Courier New', Courier, monospace;
}

span {
    color: rgba(200, 0, 0, 1);
}